section {
    border: solid gray;
    border-width: 1px;
    text-align: center;
    width: 320px;
    height: 568px;
    margin-left: auto;
    margin-right: auto;
}

section>div.start-photo{
    border: solid gray;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    height:300px;
    width: 225px;
}


 
input[type^="button"] {
    font-size: 50px;
}

section.start-screen>input {
    margin-top: 50px;
}

section.question-page>form>input.submit {
    margin-top: 50px;
}

div.photo {
    border: solid gray;
    border-width: 1px;
    height:225px;
    width: 225px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

